<!-- search-page.component.html -->
<div class="bg-black text-white p-4">
    <div class="max-w-3xl mx-auto">
      <!-- <h1 class="text-3xl font-bold mb-4">Netflix-like Search Page</h1> -->
      <div class="relative flex items-center mt-10 w-full justify-center">
        <app-search-form (searchForm)="searchMovie($event)"></app-search-form>
      </div>
      <div class="mt-8">
        <div class="grid grid-cols-3 gap-10">
            <ng-container *ngIf="results.length === 0; else test">no results</ng-container>
        
          <ng-template #test>
            <ng-container *ngFor="let result of results" >
                <app-movie-cards [movie]="result"></app-movie-cards>
            </ng-container>
          </ng-template>
          
         
          
        </div>
      </div>
    </div>
  </div>
  